/*
 * Lay this page out - make it responsive, use grid, flex, position and media queries where needed.
 *
 * Colors-
 * Green: #14a96d
 * White: #fff
 * Light gray: #f4f5f6
 * Border gray: #cfd7de
 * Dark text: #1b1f23
 * Lighter text: #66727c
 * Blue for links: #06748a
 * Blue for hovered links: #033641
 */

/* Globals */
body {
  font-family: 'Cabin', sans-serif;
  margin: 0;
  padding: 0;
}

header{
  background-color: #fff;
  height: 30px;  
}

.rover-header-container{
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  justify-content: space-between;
  display: flex;
}
header .rover-header-right-mobile{
  display: none;
}

.rover-hero-container :last-child{
  display: none;
}
/* No.1 Header mobile view setting */

@media (max-width:500px){
  header .rover-header-right-mobile{
    display: block;
  }
  header a{
    display: none;
  }
}

/* No.2 Hero Container mobile view setting */
@media (min-width:320px) and (max-width:500px){
  .rover-hero-container :first-child {
    display: none;
  }
  .rover-hero-container :nth-child(3){
    display: none;
  }
  .rover-hero-container :last-child{
    display: block;
  }
  /* No.3 mobile view */
  .rover-middle-section .rover-mobile-hero-container{
    display: block;
  }
  .rover-middle-section .rover-two-boxes-container{
      grid-template-columns: repeat(1,1fr);
  }
  .rover-cta-container .rover-cta-bottom-container .rover-cta{
    display: none;
  }
  .rover-cta-box .rover-protections{
    display: none;
  }
  /* No 4 Action*/
  .rover-action-shot .rover-action-quote-container span::before{
    display: none;
  }
  .rover-action-shot .rover-action-quote-container{
    width: 100%;
    top: 0;
    left: 0;
  }
  .rover-123-container .rover-123-item-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .rover-123-container .rover-123-item-container .rover-123-item{
    display: grid;
    grid-template-columns :1fr 2fr;
    gap: 10px;
  }
   
}
/* 
@media (min-width:550px) {
  .rover-action-shot{

  }
} */

.rover-header-left a{
  text-decoration: none;
  color: #1b1f23;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 10px;
}

.rover-header-image{
  width: 15%;
}
.rover-header-right a{
  text-decoration: none;
  color: #1b1f23;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  
}


.rover-hero-container{
  background-image: url(/img/hero.jpg);
  height: 50em;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
}

.rover-button {
  background-color: #14a96d;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
} 

.rover-middle-section{
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px; 
 
}

.rover-middle-section h2{
  text-align: center;
}

.rover-two-boxes-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 50px;
  margin-bottom: 140px;
}


.rover-cta-header{
  display: flex;
  justify-content: center;
  border: 1px solid rgb(143, 143, 143);
  background-color: rgb(216, 213, 213);
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.rover-cta-header img{
   width: 20px;
   height: 20px;
}

.rover-cta-container{
  background-color: white;
  border: 1px solid rgb(143, 143, 143);

  box-shadow: 0 3px 10px rgb(181, 181, 181);
  margin-right: 10px;
  height: 200px;
}
.rover-cta-bottom-container{
  position: relative;
}
.rover-cta-bottom-container .rover-cta{
  background-color: #14a96d;
  border: none;
  color: white;
  padding: 15px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin: 0;
  position: absolute;
  top: 180%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rover-mobile-hero-container{
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;
  display: none;
}

.rover-mobile-hero{
  width: 200px;
  height: 200px;
}
.rover-fact-indiv{
  display: grid;
  grid-template-columns: 1fr 2fr;

}

.rover-action-shot{
  background-image: url(/img/lady-with-her-dogs.jpg);
  height: 500px;
  width: 100%;
  background-size: cover;
  margin-right: 10px;
  margin-left: 10px;
  position: relative;
}

.rover-action-quote-container{
  border: 1px solid rgb(143, 143, 143);
  background-color: white;
  width: 50%;
  position: absolute;
  top: -50px;
  left: 20px;
 
}
.rover-action-quote-container p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.rover-quote{
   display: grid;
   grid-template-columns: 1fr;
   gap: 10px;
}

.rover-action-dash{
  background-color: green;
  margin-top: 15px;
  padding: 2px 2px;
  margin-left: 1%;
  margin-right: 90%;
  border-radius: 5px;
}
.rover-action-quote-container span::before{
  content: "- ";
 
}
.rover-123-container{
  display: grid;
  grid-template-columns: 1fr;
}
.rover-123-container-title{
  text-align: center;
}

.rover-123-item-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-left: 40px;
  
}