/*
 * Lay this page out - make it responsive, use grid, flex, position and media queries where needed.
 *
 * Colors-
 * Green: #14a96d
 * White: #fff
 * Light gray: #f4f5f6
 * Border gray: #cfd7de
 * Dark text: #1b1f23
 * Lighter text: #66727c
 * Blue for links: #06748a
 * Blue for hovered links: #033641
 */

/* Globals */
body {
  font-family: 'Cabin', sans-serif;
  margin: 0;
  padding: 0;
}

header{
  background-color: #fff;
  height: 30px;  
}

.rover-header-container{
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  justify-content: space-between;
  display: flex;
}
header .rover-header-right-mobile{
  display: none;
}

.rover-hero-container :last-child{
  display: none;
}
/* No.1 Header mobile view setting */

@media (max-width:500px){
  header .rover-header-right-mobile{
    display: block;
  }
  header a{
    display: none;
  }
}

/* No.2 Hero Container mobile view setting */
@media (min-width:320px) and (max-width:500px){
  .rover-hero-container :first-child {
    display: none;
  }
  .rover-hero-container :nth-child(3){
    display: none;
  }
  .rover-hero-container :last-child{
    display: block;
  }
}
/* No.3 mobile view */
@media (min-width:320px) and (max-width:500px){
.rover-mobile-hero{
  display: block;
}
}
.rover-header-left a{
  text-decoration: none;
  color: #1b1f23;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 10px;
}

.rover-header-image{
  width: 15%;
}
.rover-header-right a{
  text-decoration: none;
  color: #1b1f23;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  
}


.rover-hero-container{
  background-image: url(/img/hero.jpg);
  height: 50em;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
}

.rover-button {
  background-color: #14a96d;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
} 

.rover-middle-section{
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  display: grid;
  gap: 10px; 
 
}

.rover-middle-section h2{
  text-align: center;
}

.rover-two-boxes-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* .rover-facts-container{

} */

.rover-cta-header{
  display: flex;
  justify-content: center;
  border: 1px solid rgb(143, 143, 143);
  background-color: rgb(216, 213, 213);
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.rover-cta-header img{
   width: 20px;
   height: 20px;
}

.rover-cta-container{
  background-color: white;
  border: 1px solid rgb(143, 143, 143);

  box-shadow: 0 3px 10px rgb(181, 181, 181);
  margin-right: 10px;
  height: 200px;
}
.rover-cta-bottom-container{
  position: relative;
}
.rover-cta-bottom-container .rover-cta{
  background-color: #14a96d;
  border: none;
  color: white;
  padding: 15px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin: 0;
  position: absolute;
  top: 180%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* .rover-fact-indiv{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
} */

/* .rover-facts-container{
    display: grid;
} */

.rover-fact-indiv{
 display: flex;
 flex-wrap: wrap;
}
.rover-mobile-hero-container{
  display: none;
}



